/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.product-list {
    width: 100%;
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
}

.cart-page {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card, .cart-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    height: 300px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card button, 
.cart-item button {
    padding: 10px 10px;
    background-color: #fff;
    border: none;
    border-radius:5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card button {
    background-color: #45a049;
    color: white;
    font-size: 1.1 em;
}

.product-card button:hover {
    background-color: #2b642e;
}

.cart-item button:hover {
    background-color: #aaa;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}


.cart-item span, .cart-item-total {
    font-size: 1.1em;
}

.cart-item-details {
    flex: 1; /* Take up remaining space */
    display: flex;
    align-items: center;
}

.cart-item-info {
    display: flex;
    justify-content: space-between;
    flex: 1; /* Take up remaining space */
}

.cart-total {
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
    margin-top: 20px;
}

.cart-badge {
    position: relative;
    display: inline-block;
}

.cart-badge .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 0.8em;
    display: none;
}

.cart-badge .badge.show {
    display: inline-block;
}

.remove-all-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-all-button:hover {
    background-color: #c82333;
}

#root, #cart-root {
    width:100%;
}

.cart-item-details .cart-buttons {
    background-color: #fff;
    border: thin solid #aaa;
    border-radius: 5px;
}

.cart-buttons button {
    font-size: 16px;
    margin: 5px;
}
 
.wrapper span{
    margin: 5px;
}

.checkout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.checkout-button:hover {
    background-color: #357a38;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.cart-header, .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.cart-header {
    font-weight: bold;
}

.cart-item-details, .cart-header-details {
    display: flex;
    align-items: center;
    width:100%;
}

.cart-item-details div, .cart-header-details div {
    width:100%;
}

.cart-header-details {
    font-weight: bold;
}

.wrapper {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart-item-quantity, .cart-item-total {
    text-align: right;
}

.checkout-button, .remove-all-button {
    margin: 10px 5px;
}

.cart-header-details div{
    text-align: center;
}

.cart-header-details {
    width: 100%;
}

.cart-grid {
    display: grid;
    grid-template-columns: 65% repeat(3, 1fr);
    gap: 10px; 
}

.cart-header-details div:first-child, .cart-item-details div:first-child {
    text-align: left;
}


.cart-buttons {
    display: flex;
    justify-content: space-between;
}

.cart-buttons span {
    align-self: center;
}